<%-include('../header') %>
    <div class="container">
        
        <form action="/create-category" method="POST" role="form" id="category_form">
            <legend>Form thêm mới danh mục</legend>
        
            <div class="form-group">
                <label for="">Tên danh mục</label>
                <input type="text" class="form-control" name="name" placeholder="Input name">
                <small id="error" class="text-danger"></small>
            </div>
            <div class="form-group">
                <label for="">Trạng thái danh mục</label>
                
                <div class="radio">
                    <label>
                        <input type="radio" name="status" value="1" checked>
                        Hiển thị
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="status" value="0">
                        Tạm ẩn
                    </label>
                </div>
                
            </div>
            <button type="submit" class="btn btn-primary">Thêm mới</button>
        </form>
    </div>
<%-include('../footer')%>
<script>
    category_form.onsubmit = function(){
            if(this.name.value == ''){
                this.name.style.border = '1px solid red';
                error.innerHTML = 'Không được để trống tên';
                this.name.focus();
                return false;
            } else {
                error.innerHTML = '';
                this.name.style.border = '1px solid lightblue';
            }
        }
</script>